<h1>Iniciar sesión</h1>

<form action="/api/sessions/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" required>
    <br><br>

    <label for="password">Contraseña:</label>
    <input type="text" name="password">
    <br><br>
    <button type="submit">Iniciar Sesion</button>
</form>