<div class="conteiner">
    <h3>carrito {{carritoId}}:</h3>
    <div class="d-flex flex-wrap m-3">
        <button onclick=purchase('{{carritoId}}','{{email}}')>probar</button>
    
    </div>
    
</div>

<script src="./js/mainPurchase.js"></script>